html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--start editing from here--*/

a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
}


/* text align right */

.txt-lt {
	text-align: left;
}


/* text align left */

.txt-center {
	text-align: center;
}


/* text align center */

.float-rt {
	float: right;
}


/* float right */

.float-lt {
	float: left;
}


/* float left */

.clear {
	clear: both;
}


/* clear float */

.pos-relative {
	position: relative;
}


/* Position Relative */

.pos-absolute {
	position: absolute;
}


/* Position Absolute */

.vertical-base {
	vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
	vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
	display: block;
}


/* vertical menu */

nav.horizontal ul li {
	display: inline-block;
}


/* horizontal menu */

img {
	max-width: 100%;
}


/*--end reset--*/

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	background: url(../images/banner.jpg)no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.bg-agile {
	background: rgba(2, 2, 2, 0.55);
}

.main-info-w3-agileits {
	width: 63%;
	margin: 0 auto;
	padding: 2.5em 0;
}

.w3ls_footer_grid_left {
	background: rgba(255, 255, 255, 0.05);
	padding: 2em 1em;
}

h5.sub-hdg {
	color: #ffcc54;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin-bottom: 1em;
	font-family: 'Montserrat', sans-serif;
}

ul.w3l-social li {
	display: inline-block;
}

ul.w3l-social li a.fa {
	margin: 0 2em;
	color: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

ul.w3l-social li a.fa.fa-facebook:hover {
	color: #3b5998;
}

ul.w3l-social li a.fa.fa-twitter:hover {
	color: #1da1f2;
}

ul.w3l-social li a.fa.fa-google-plus:hover {
	color: #dd4b39;
}

ul.w3l-social li a.fa.fa-instagram:hover {
	color: #e1306c;
}

.w3l-social li a.fa.fa-linkedin:hover {
	color: #00a0dc;
}


/*--background--*/

h1 {
	font-size: 52px;
	text-transform: capitalize;
	color: #fff;
	word-spacing: 5px;
	letter-spacing: 1px;
	margin: 4em 0 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

p.paragraph-w3ls {
	color: #fcfcfc;
	font-size: 32px;
	line-height: 33px;
	letter-spacing: 2px;
	margin: 1.5em 0 1em;
	font-family: 'Herr Von Muellerhoff', cursive;
	text-shadow: 1px 1px 2px #212121;
}


/*--//background--*/


/*--newsletter-agileinfo--*/

.newsletter-agileinfo {
	margin: 2em auto 0;
	width: 50%;
}

.newsletter-agileinfo h2 {
	color: #fff;
	font-weight: 500;
	font-size: 28px;
	margin-bottom: 1em;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
}

.newsletter-agileinfo span {
	background: #ffffff;
	font-size: 20px;
	line-height: 41px;
	color: #6b6b6b;
}

.newsletter-agileinfo input[type="email"] {
	font-family: 'Montserrat', sans-serif;
	padding: 12px 25px;
	background: rgba(255, 255, 255, 0.12);
	letter-spacing: 1px;
	font-size: 15px;
	color: #fff;
	border: none;
	outline: none;
	display: inline-block;
	border-bottom: 2px solid #f9f9f8;
}

.newsletter-agileinfo input[type="submit"] {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	border: none;
	color: #fff;
	background: #ffcc54;
	padding: 9px 0px;
	outline: none;
	vertical-align: bottom;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.newsletter-agileinfo input[type="submit"]:hover {
	background: #000;
	color: #fff;
}


/*--//newsletter-agileinfo--*/


/*--copyright--*/

.copy.w3ls {
	margin: 4em 0em;
}

.copy p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.copy p a {
	color: #ffcc54;
	text-decoration: underline;
}

.copy p a:hover {
	color: #fff;
	text-decoration: underline;
}


/*--//copyright--*/

::-webkit-input-placeholder {
	color: #fff!important;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #fff!important;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff!important;
}

:-ms-input-placeholder {
	color: #fff!important;
}


/*--responsive-design--*/

@media(max-width:1680px) {
	h1 {
		margin: 3em 0 0;
	}
}

@media(max-width:1600px) {
	h1 {
		margin: 2em 0 0;
	}
}

@media(max-width:1366px) {
	p.paragraph-w3ls {
		margin: 1em 0 0.7em;
	}
	h1 {
		margin: 1.7em 0 0;
	}
}

@media(max-width:1080px) {
	h1 {
		margin: 1em 0 0;
	}
	p.paragraph-w3ls {
		margin: 0.8em 0 0.5em;
	}
	.main-info-w3-agileits {
		width: 65%;
		padding: 2em 0;
	}
	.w3ls_footer_grid_left {
		padding: 1.2em 1em;
	}
	.newsletter-agileinfo h2 {
		font-size: 23px;
		margin-bottom: 0.7em;
	}
	.newsletter-agileinfo {
		width: 65%;
	}
	.copy p {
		font-size: 13px;
	}
	.copy.w3ls {
		margin: 2.9em 0em;
	}
}

@media(max-width:1050px) {}

@media(max-width:1024px) {
	h1 {
		margin: 1.3em 0 0;
		font-size: 45px;
	}
	ul.w3l-social li a.fa {
		margin: 0 1.5em;
	}
}

@media(min-width:901px) {
	.newsletter-agileinfo input[type="submit"] {
		flex-basis: 23%;
		-webkit-flex-basis: 23%;
	}
	.newsletter-agileinfo span {
		flex-basis: 9%;
		-webkit-flex-basis: 9%;
	}
	.newsletter-agileinfo input[type="email"] {
		flex-basis: 73%;
		-webkit-flex-basis: 73%;
	}
}

@media(min-width:481px) {
	.newsletter-agileinfo input[type="email"] {
		flex-basis: 55%;
		-webkit-flex-basis: 55%;
	}
	.newsletter-agileinfo span {
		flex-basis: 11%;
		-webkit-flex-basis: 11%;
	}
	.newsletter-agileinfo input[type="submit"] {
		flex-basis: 26%;
		-webkit-flex-basis: 26%;
	}
}

@media(max-width:800px) {
	h1 {
		margin: 1.4em 0 0;
		font-size: 41px;
	}
	h5.sub-hdg {
		font-size: 22px;
	}
}

@media(max-width:768px) {
	h1 {
		margin: 3.5em 0 0;
	}
	p.paragraph-w3ls {
		margin: 1.5em 0 1em;
	}
	.newsletter-agileinfo {
		margin: 2.5em auto 0;
	}
	.copy.w3ls {
		margin: 4.9em 0em;
	}
}

@media(max-width:767px) {
	h1 {
		margin: 1.4em 0 0;
	}
	p.paragraph-w3ls {
		margin: 0.8em 0 0.5em;
	}
	.newsletter-agileinfo {
		margin: 2em auto 0;
	}
	.copy.w3ls {
		margin: 2.9em 0em;
	}
}

@media(max-width:736px) {
	.newsletter-agileinfo {
		width: 70%;
	}
	h1 {
		word-spacing: 2px;
		margin: 1.5em 0 0;
	}
	p.paragraph-w3ls {
		font-size: 29px;
	}
}

@media(max-width:667px) {
	h1 {
		font-size: 36px;
		margin: 1.9em 0 0;
	}
	h5.sub-hdg {
		font-size: 20px;
	}
	.newsletter-agileinfo h2 {
		font-size: 21px;
	}
	.newsletter-agileinfo {
		width: 80%;
	}
	p.paragraph-w3ls {
		margin: 1em 0 0.8em;
	}
	.newsletter-agileinfo input[type="submit"] {
		font-size: 15.5px;
	}
}

@media(max-width:600px) {
	.newsletter-agileinfo input[type="submit"] {
		letter-spacing: 1px;
	}
	h1 {
		font-size: 33px;
	}
	p.paragraph-w3ls {
		letter-spacing: 1.5px;
	}
	.newsletter-agileinfo {
		width: 90%;
	}
	.copy p {
		word-spacing: 0px;
	}
}

@media(max-width:568px) {
	h1 {
		font-size: 31px;
		word-spacing: 0px;
	}
	p.paragraph-w3ls {
		letter-spacing: 1px;
	}
	.copy p {
		padding: 0 1em;
		line-height: 28px;
	}
	.newsletter-agileinfo {
		margin: 1.5em auto 0;
	}
	.copy.w3ls {
		margin: 2.3em 0em 2em;
	}
}

@media(min-width:481px) {
	.newsletter-agileinfo form {
		display: -webkit-flex;
		display: flex;
	}
}

@media(max-width:480px) {
	.w3ls_footer_grid_left {
		padding: 1.2em 0em;
	}
	h1 {
		font-size: 27px;
		letter-spacing: 0px;
		margin: 1.6em 0 0;
	}
	.main-info-w3-agileits {
		width: 85%;
	}
	p.paragraph-w3ls {
		margin: 0.7em 1em 0.5em;
	}
	h5.sub-hdg {
		font-size: 18px;
	}
	.newsletter-agileinfo h2 {
		font-size: 18px;
	}
	.newsletter-agileinfo span {
		display: block;
	}
	.newsletter-agileinfo input[type="email"] {
		width: 100%;
		box-sizing: border-box;
	}
	.newsletter-agileinfo input[type="submit"] {
		width: 100%;
	}
	.w3ls_footer_grid_left {
		padding: 1em 0em;
	}
	.main-info-w3-agileits {
		padding: 1.5em 0;
	}
	.copy.w3ls {
		margin: 1em 0em 1em;
	}
	.copy p {
		padding: 0 2em;
		line-height: 28px;
	}
}

@media(max-width:440px) {
	h1 {
		font-size: 26px;
	}
}

@media(max-width:414px) {
	h1 {
		font-size: 30px;
		line-height: 40px;
	}
	p.paragraph-w3ls {
		margin: 0.4em 1em 0.5em;
	}
	.copy.w3ls {
		margin: 2em 0em 1em;
	}
}

@media(max-width:384px) {
	ul.w3l-social li a.fa {
		margin: 0 1em;
	}
	h1 {
		font-size: 29px;
		margin: 1em 0 0;
		line-height: 37px;
	}
	.newsletter-agileinfo input[type="email"] {
		font-size: 14px;
	}
	p.paragraph-w3ls {
		font-size: 28px;
	}
	.copy.w3ls {
		margin: 0.8em 0em;
	}
}

@media(max-width:320px) {
	.copy p {
		padding: 0 1em;
		line-height: 26px;
	}
	h1 {
		font-size: 30px;
		letter-spacing: 1px;
	}
	.copy.w3ls {
		margin: 1em 0em 1.5em;
	}
}


/*--//responsive-design--*/